# Core
streamlit
python-dotenv
numpy
scikit-learn

# LangChain
langchain
langchain-core
langchain-groq
langchain-community
langchain-text-splitters

# LLM
groq
# Embeddings
huggingface-hub

# PDF + text parsing
pdfminer.six
pymupdf

# Vector DB
chromadb
